
# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-content/index.php
/wp-content/languages
/wp-content/themes/index.php
/wp-content/ai1wm-backups
/wp-content/updraft

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php
/wp-content/litespeed
/wp-content/ai1wm-backups

# Uploads
/wp-content/uploads/

# Log files
*.log
error_log

# htaccess
/.htaccess
/robots.txt