:root {
	--color-blue: #062b29;
	--color-white: #fff;
}

.button-primary {
	background-color: var(--e-global-color-f30612b);
    font-weight: 400;
    text-transform: uppercase;
    border-style: none;
    border-radius: 0px 0px 0px 0px;
	text-decoration: none !important;
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	box-shadow: none;
	color: #fff;
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    padding: 12px 24px;
    fill: #fff;
    text-align: center;
    transition: all .3s;
}

footer .widget .widget-title {
	text-transform: uppercase;
	height: 80px;
	color: var(--color-white);
	margin-bottom: 0;
	font-size: 26px;
}

/* Footer Contact Info */
.widget_astra_child_custom_widget_footer_contact_info .item span {
	line-height: 1.2;
	color: var(--color-white);
}

.widget_astra_child_custom_widget_footer_contact_info .item span a {
	color: var(--color-white);
}
/* End Footer Contact Info */

/* Footer Socials */
.widget_astra_child_custom_widget_footer_socials .footer-logo {
	text-align: center;
	margin-bottom: 17px;
}

.widget_astra_child_custom_widget_footer_socials .footer-logo img {
	width: 110px;
	height: auto;
}

.widget_astra_child_custom_widget_footer_socials .footer-socials {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.widget_astra_child_custom_widget_footer_socials .footer-socials .item {
	display: block;
}

.widget_astra_child_custom_widget_footer_socials .footer-socials .item img {
	width: 50px;
    height: 50px;
    object-fit: contain;
	justify-content: center;
}
/* End Footer Socials */

/* Footer Menu */
.widget_astra_child_custom_widget_footer_menu .footer-menu {
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.widget_astra_child_custom_widget_footer_menu .footer-menu a {
	display: block;
	color: var(--color-white);
}
/* End Footer Menu */

/* Projects Widget */
.projects-widget .projects-list {
	width: 80%;
    margin: 0 auto;
}

.projects-widget .projects-list .item {
	position: relative;
	display: flex;
	justify-content: end;
}

.projects-widget .projects-list .item-image {
	position: relative;
}

.projects-widget .projects-list .item-image img {
	width: 70vw;
    height: 600px;
	object-fit: cover;
}

.projects-widget .projects-list .item-image .zoom-image {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 50px;
    height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #c4956a;
}

.projects-widget .projects-list .item-image .zoom-image img {
	width: 30px;
    height: 30px;
}

.projects-widget .projects-list .item-body {
	position: absolute;
	left: 0px;
	top: 50%;
    transform: translateY(-50%);
	background-color: var(--color-blue);
	padding: 20px;
	width: 16vw;
    min-width: 305px;
    min-height: 305px;
	z-index: 1;
}

.projects-widget .projects-list .item-date {
	color: var(--color-white);
}

.projects-widget .projects-list .item-content {
	color: var(--color-white);
	text-align: justify;
	margin-bottom: 16px;
	overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.projects-widget .projects-list .item-title {
	color: var(--e-global-color-f30612b);
	font-size: 40px;
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 20px;
	text-transform: uppercase;
	font-family: 'UTM-Horizon';
}

.projects-widget .projects-list .owl-nav {
	width: max-content;
    position: absolute;
    right: -90px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
	gap: 24px;
}

.projects-widget .projects-list.owl-carousel .owl-nav button {
	display: flex;
	align-items: center;
    justify-content: center;
	width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
}

.projects-widget .projects-list.owl-carousel .owl-nav button svg {
	width: 25px;
}

/* End Projects Widget */

/* Partners Widget */
.partners-widget {
	position: relative;
	width: 100%;
	height: 500px;
}

.partners-widget .item {
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: var(--color-white);
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
	text-decoration: none !important;
}

.partners-widget .item span {
	font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 70%;
}
/* End Partners Widget */

/* Header Menu */
.header-menu-desktop .menu-list {
	display: flex;
}

.header-menu-desktop .menu-list a {
	padding: 16px;
	color: var(--ast-global-color-4);
	text-decoration: none;
}

.header-menu-desktop .search-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 16px 0 12px;
	height: 48px;
}

.header-menu-desktop .search-form input {
	color: #fff;
	width: 90%;
    background: transparent;
    border-radius: 20px;
    margin-top: -100px;
    transition: all .3s;
}

.header-menu-desktop .search-form input.active {
	margin-top: 0px;
}

.header-menu-desktop .search-form .search-icon {
	width: 25px;
    height: 25px;
	cursor: pointer;
}

.header-menu-desktop .search-form .wishlist-icon {
	position: relative;
}

.header-menu-desktop .search-form .wishlist-icon img {
	width: 25px;
    height: 25px;
}

.header-menu-desktop .search-form .wishlist-icon .wishlist-count {
	position: absolute;
    right: -5px;
    top: 0px;
    background-color: #dca956;
    color: var(--color-blue);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End Header Menu */

/* Header Menu Mobile */
.header-menu-mobile {
	display: none;
}

.header-menu-mobile .mobile-menu-toggle {
	padding: 6px;
}

.header-menu-mobile .mobile-menu-toggle .toggle-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 35px;
	border: 1px solid;
	line-height: 100%;
	cursor: pointer;
}

.header-menu-mobile .mobile-menu-toggle .toggle-icon:not(.active) {
	display: none;
}

.header-menu-mobile .menu-list {
	position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    background: #fff;
	display: flex;
    flex-direction: column;
	z-index: 1;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.header-menu-mobile .menu-list:not(.active) {
	display: none;
}

.header-menu-mobile .menu-list a {
	padding: 0px 16px;
    color: var(--ast-global-color-3);
    text-decoration: none;
}

.header-menu-mobile .menu-list .search-form {
	padding: 8px;
	position: relative;
}

.header-menu-mobile .menu-list .search-form  .btn-search {
	position: absolute;
    right: 8px;
    top: 10px;
    padding: 7px;
    background: #afafaf;
    border-radius: 0;
}

.header-menu-mobile .menu-list .search-form  .btn-search img {
	width: 25px;
}

.header-menu-mobile .wishlist-link {
	text-transform: uppercase;
}
/* End Header Menu Mobile */

@media (max-width: 1199px) {
	.header-menu-desktop .menu-list a {
		padding: 16px 10px;
		font-size: 15px;
	}
}

@media (max-width: 991px) {
	.projects-widget .projects-list .owl-nav {
		right: -60px;
	}

	.projects-widget .projects-list .item-image img {
		height: 500px;
	}

	.header-menu-desktop {
		display: none;
	}

	.header-menu-mobile {
		display: block;
	}
}

@media (max-width: 767px) {
	.partners-widget {
		height: 400px;
	}

	.partners-widget .item {
		width: 100px;
		height: 100px;
	}

	.partners-widget .item span {
		font-size: 16px;
		width: 90%;
	}

	.projects-widget .projects-list .item-image img {
        height: 350px;
        width: 60vw;
    }

	.projects-widget .projects-list .item-title {
		margin-top: 0px;
	}

	.projects-widget .projects-list .item-body {
		min-height: 270px;
	}
}

@media (max-width: 576px) {
	footer .widget .widget-title {
		height: auto;
		margin-bottom: 16px;
	}

	.partners-widget {
        height: 300px;
    }

	.partners-widget .item {
		width: 90px;
        height: 90px;
	}

	.partners-widget .item span {
		font-size: 14px;
	}

	.projects-widget .projects-list {
		width: 95%;
	}

	.projects-widget .projects-list .item-image img {
		width: 100%;
	}

	.projects-widget .projects-list .item-content {
		display: none;
	}

	.projects-widget .projects-list .item-body {
		min-height: auto;
		min-width: 230px;
		top: 0px;
		transform: unset;
	}

	.projects-widget .projects-list .owl-nav {
		position: unset;
		transform: unset;
		flex-direction: row;
		margin-top: 12px;
		width: 100%;
		justify-content: center;
	}

	.projects-widget .projects-list.owl-carousel .owl-nav button {
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 450px) {
	.partners-widget .item {
		width: 80px;
        height: 80px;
	}

	.partners-widget .item span {
		font-size: 12px;
	}

	.button-primary {
		padding: 8px 16px;
	}

	.projects-widget .projects-list .item-title {
		font-size: 24px;
	}
}

@media (max-width: 350px) {
	.partners-widget .item {
		width: 70px;
        height: 70px;
	}

	.partners-widget .item span {
		font-size: 11px;
	}

	.projects-widget .projects-list .item-image img {
		height: 250px;
	}

	.projects-widget .projects-list .item-title {
        font-size: 20px;
    }
}